RewriteEngine On

# Redirect /index.html to /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.html [NC]
RewriteRule ^index\.html$ / [R=301,L]

# Serve index.html when accessing the root
DirectoryIndex index.html